# ESP-MIAO Server Configuration

# Resource
LOAD_MODEL_ON_START=1
DEBUG_AUDIO_SAVE=0
LOG_LEVEL=INFO

# Metrics
ESP_MIAO_METRICS=0

# MQTT
MQTT_BROKER=127.0.0.1
MQTT_PORT=1883
MQTT_AUTH_USER=
MQTT_AUTH_PASSWORD=

# Server
SERVER_RELOAD=0
