# Kconfig for ESP-MIAO main component

config ESP_MIAO_WIFI_SSID
    string "WiFi SSID"
    default "YOUR_SSID"
    help
        WiFi SSID to connect to.

config ESP_MIAO_WIFI_PASSWORD
    string "WiFi Password"
    default "YOUR_PASS"
    help
        WiFi Password to connect to.